# Editors
.idea
.vscode*
*.swp
*.swo

# NPM
node_modules

# Database
realdata/
database.sqlite

# Sensitive data
test/.devKeys
config*.js
!config.sample.js
*.sqlite
!database.empty.sqlite
docker-compose*.yml
!docker-compose.*example.yml

# Miscellaneous
.DS_Store
*.log*
